.main {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  color: blueviolet;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  filter: drop-shadow(10px 10px 10px #a4bbff);
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  border-radius: 4px;
  background-color: blueviolet;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
